
body, html{
	background-color: white;
	margin:0px;
	min-width:75%;
}
*{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container{
	width: 75%;
	margin: auto;
	display: flex;
	margin-bottom: 75px;
}
.page{
	min-height:100%;
}
.header{
	background-color:white;
	margin-bottom:30px;
	box-shadow:0px 5px 5px #3E3A3F;
}
.nav{
	display: flex;
	max-width: 1000px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.nav ul li{
	list-style: none;
    display: inline-block;
    justify-content: space-between;
	margin: 10px;
}
.nav ul li:hover{
	border:4px;
	border-top-right-radius:9px;
	border-bottom-left-radius:9px;
	background-color:red;
}
.nav ul{
	display: flex;
    align-items: stretch;
    justify-content:end;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav ul li a{
	text-decoration:none;
	font-weight:bold;
	padding:30px;
}
.nav ul li a:hover{
	color:white;
}
.active {
  color:red;
  
}
.fa-solid{
	margin-top:5px;
	font-size:20px;
	margin-right:10px;
}
.fa-business-time{
	color:white;
	font-size:20px;
	margin-left:20px;
}
.title-logo{
	display:inline;
	float:left;
	color:red;
	margin-top:8px;
	font-size:30px;
	font-family: "Libre Baskerville",serif;
	width: 25%;
}
.banner-text{
	/*margin-right:60px;*/
	background-color:black;
	height:40px;
	text-align:center;
	color:white;
}